@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  position: relative;
}

.herobg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/herobg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
  color: #fff;
  position: relative;
}
.aboutbg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/aboutbg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0;
  color: #fff;
  position: relative;
}
.contactbg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/contactbg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 140px 0;
  color: #fff;
  position: relative;
}

.card-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@layer components {
  .section {
    @apply py-8 lg:py-32 lg:h-screen flex justify-center items-center;
  }
  .btn {
    @apply bg-accent px-6 py-3 rounded-full text-primary font-bold tracking-wide hover:text-accent hover:bg-primary  transition-all duration-150;
  }

  h2 {
    @apply text-2xl text-accent  font-bold pb-4;
  }
}
